# =========================================================
# Environment variables / secrets
# =========================================================

.env
*.env


# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*$py.class

*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/

# Django local database
db.sqlite3
db.sqlite3-journal


# =========================================================
# Node / React
# =========================================================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

frontend/dist/
frontend/.vite/


# =========================================================
# Build / coverage
# =========================================================

dist/
build/
coverage/


# =========================================================
# IDE / Editor
# =========================================================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

*.swp
*.swo


# =========================================================
# OS files
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# Temporary files
# =========================================================

*.tmp
*.temp
mysql-apt-config_0.8.40-1_all.deb
