# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment / secrets
.env
.env.*
!.env.example

# Django local database
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# Testing / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Build files
build/
dist/
